.grid {
  padding-left: 33%;
  padding-top: 5%;
}

.grid-todo {
  display: flex;
  /* padding: 72px; */
  padding-left: 30%;
  padding-top: 1%;
}
.todo-item {
  background-color: #2185d0;
  border: 2px solid #6666a8;
  border-radius: -3px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 1px 1px 3px 0px rgb(134 134 134 / 21%);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  padding: 2%;
  width: 56%;
  color: white;
}

.list {
  list-style: none;
}

.completed{
  text-decoration: line-through black;
  opacity: 0.5;
  color: aliceblue;
}